#sneaker-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* center the items horizontally */
}

#sneaker-list li {
    width: 30%;
    /* 3 products per row */
    margin: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sneaker-list img {
    width: 100%;
    margin-bottom: 10px;
}

#sneaker-list button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header {
    background-color: rgb(94, 218, 240);
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul a {
    margin: 0 10px;
}

nav a {
    color: #fff;
    padding: 0.25rem;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

/* nav ul .icons {
    margin: 0 10px;
} */


body {
    font-family: 'Montserrat', sans-serif;
}

section#about-us {
    background-color: rgb(94, 218, 240);
    text-align: center;
    padding: 2em;
}

section#about-us img {
    width: 50%;
    border-radius: 50%;
    margin: 2em 0;
}

section#contact-us {
    background-color: rgb(94, 218, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section#contact-us form {
    width: 100%;
    max-width: 500px;
    padding: 1em;
    /* background-color: #f5f5f5; */
    border-radius: 0.5em;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
    margin-bottom: 2em;
}

section#contact-us form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

section#contact-us form input[type="text"],
section#contact-us form input[type="email"],
section#contact-us form textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    margin-bottom: 1em;
}

section#contact-us .contact-info {
    width: 100%;
    max-width: 500px;
    padding: 1em;
    /* background-color: #f5f5f5; */
    border-radius: 0.5em;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

section#us {
    background-color: rgb(94, 218, 240);
}

